<style type="text/css">
	table#referenceapp_table{
		border-collapse: collapse;
		width: 100%;
	}
	table#referenceapp_table, table#referenceapp_table th, table#referenceapp_table td {
	   border: 1px solid black;
	   padding: 15px;
	}
	.dnone {
		display: none;
	}
</style>

<div class="container referenceapp" id="referenceapp-main">
	<div class="my-courses" id="my-courses">
        <header class="wrapper-header-courses">
          <h2 class="header-courses">My Courses</h2>
        </header>
        <div>
	        <table id="referenceapp_table" class="table table-hover">
				<caption>ReferenceApp List</caption> <a href="/referenceapp/addreferencelinks/">Add New</a>
				<thead>
					<tr>
						<th>Type</th>
						<th>Name</th>
						<th>Link</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
    </div>
</div>
